services:
  merve-web:
    image: tajievolimjon/hackaton-web
    container_name: hackaton-web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3007:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - /app/node_modules